* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98%;
  height: 100%;
  margin: auto;
}

.middle {
  display: flex;
  align-items: center;
}

p {
  color: #fff;
  text-shadow: 1px 0 #0f0f0f, -1px 0 #0f0f0f, 0 1px #0f0f0f, 0 -1px #0f0f0f;
  margin-bottom: 4px;
  font-size: 2.5rem;
}