* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98vw;
  height: 100vh;
  margin: auto;
}

.middle {
  display: flex;
  align-items: center;
}

